



html {
    background: url("image/mainBackground.jpg") no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
}
    

a {
    color: #ffffff;
    border: none;
    text-decoration: none;
    font-family: 'Hammersmith one';
    font-size: 1.5em;
    font-weight: 600;
}

ul {
    
    list-style-type: none;
    list-style: none;
    padding: none;
    display: flex;
    justify-content: space-around;
}



#firstLine {
    text-align: center;
    font-size: 4em;
    font-family: sans-serif;
    margin-bottom: 0;
    font-weight: 900;
}

#secondLine {
    text-align: center;
    font-size: 1em; 
    font-family: sans-serif;
    margin: 0;
    letter-spacing: .2em;
    font-weight: 900;
    
}

    #icon {
    
    background-color: #d3d3d3;
    color: #ffffff;
    margin 30;
    font-size: 250%;
    text-align: center;
        position: absolute;
        bottom: 15px;
}

#bottom {
    margin-top: 25%;
    margin-left: 48%;
    
    }
@media screen and (min-width:700px) {
    .facebook, .twitter{
        display: none;
    }
    
    #middle {
    margin-top: 204px;
    color: #ffffff;
    }
}
@media screen and (max-width:700px) {
    #top, #middl, #botto{
        display: none;
    }
    
    
#middle {
    margin-top: 250px;
    color: #ffffff;
    
       
}
    

    img {
        width: 1.5em;
        height: 1.5em;
        float: right;
        margin-right: 10%;
        margin-top: -235px;
    }

    .facebook{
        color: #ffffff;
        float: right;
        margin-right: 5%;
        margin-top: -250px;
    }


 .hamburger {
     margin-top: -240px;
        border-radius: 50%;
        border-color: #ffffff;
        border-style: solid;
        cursor: pointer;
        padding: 10px;
        display: block;
        float: left ;
    }
    
    .line {
        border-bottom: 2px solid #ffffff;
        width: 20px;
        margin-bottom: 4px;
    }
    
    .line: last-child {
        margin-bottom: 0;
    }

}